@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    background: linear-gradient(-270deg, #640000, #310000, #222222, #424242);
    background-size: 400% 400%;
    animation: gradient 18s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.header {
    margin: 60px 0 60px 69px;
    text-align: center;
    font-size: 50px;
}
.mainbody {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-right: 100px;
}
.controlpanel{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
}
.controlpanel button {
    background-color: #640000;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 4px;
    color: white;
    height: 40px;
    width: auto;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}
.colorbar{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

#colorpicker {
    width: 150px;
    height: 40px;
}
.slidercontainer {
    height: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 0 2px 0;
}
#slider {
    height: 66%;
    background-color: rgb(0, 0, 0);
}
#slidertext {
    font-size: 14px;
}
.gridcontainer{
    background-color: rgb(255, 255, 255);
    width: 512px;
    height: 512px;
    min-width: 512px;
    border: solid 4px black;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.footer {
    width: 100%;
    text-align: center;   
}
a {
    text-decoration: none;
    color: white;
}